/* repeated styles */
 
/* navbar */

header .container{
    flex-direction: column;
    font-size: small;
}
 
header .container .logo{
    padding: 10px;
}
 
header .navbar {
    font-size: 13px;
} 

/* container on cover */

.title h1{
    font-size: 4rem;
    margin-top: 22rem;

}

.title h3{
    font-size: 1rem;
}

/* about us */

.aboutUs{
    flex-direction: column;
}

/* our tour */

.tours .container-tours .boxes-tours{
    flex-direction: column;
}

.tours .container-tours .boxes-tours .box-tour{  
    
    width: 80%;
}

/* form section */

.form-section{
    flex-direction: column;
}

.form-section .form-img{
    width: 90%;
 
 }

 .form-section .form-container {
    width: 100%;
    
} 

.form-section .form-container form {
    display: flex;
    flex-direction: column;
     width: 100%;
    margin: 0px auto;
} 

.form-section .form-container p{
    text-align: center;
    padding: 10px;
}

/* Meet our team */

.team .container-team{
    flex-direction: column;
}

.team .container-team .member{
    width: 80%;
    margin: 20px auto;
 }

 /* our reviews */


.reviews .reviews-container .review{
    flex-direction: column;
}
.reviews .reviews-container .reviews-client{
    width: 100%;
}
.reviews .reviews-container{
     padding: 2.5rem;
}